// Specific CSS for your home-page
.excel-app {
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}

.form-group {
  margin: 0;
  .form-control {
    padding: 0;
  }
  select {
    height: 100%;
  }
}

table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

th {
  font-size: 14px;
}

td {
  font-size: 12px;
}

p {
  margin: 0;
}

#new-orders, #to-be-completed, #issues-list {
  height: 50vh;
  overflow: auto;
}
