<nav class="bg-light navbar-light d-flex align-items-center justify-content-between">
  <div class="d-flex">
    <h5 class="mx-5 my-0">Wine Shop</h5>

    <% if controller.action_name == 'home' %>
      <%= form_for @items_import do |f| %>
        <%= f.file_field :filepath %>
        <%= f.submit 'Upload' %>
      <% end %>
    <% end %>
  </div>
  <div class="mx-5">
    <p>Welcome, <%= current_user.name.capitalize %></p>
  </div>
</nav>
