<div class="excel-app">

  <div id="new-orders" class="p-3">
    <%= render 'pages/home-partials/new-orders' %>
  </div>
  <div class="d-flex">
    <div id="to-be-completed" class="w-50 p-3">
      <%= render 'pages/home-partials/pending-orders' %>
    </div>

    <div id="issues-list" class="w-50 p-3">
      <%= render 'pages/home-partials/reports-orders' %>
    </div>
  </div>
</div>

